<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comparative Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/companalysis.css') }}">
</head>
<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='images/heading.png') }}" alt="Header Image" id="header-image">
        <div class="nav">
            <div class="dropdown">
                <a href="/dashboard" class="dropbtn-text">Dashboard</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Comparative Analysis</h1>
        <form id="analysis-form" method="POST">
            <div class="form-group">
                <label for="target_column">Select Target Column:</label>
                <select id="target_column" name="target_column" class="" required>
                    {% for column in columns %}
                    <option value="{{ column }}" {% if column == target_column %}selected{% endif %}>{{ column }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Run Comparative Analysis</button>
        </form>

        {% if target_column %}
        <div class="table-responsive">
            {{ results_html|safe }}
        </div>
        {% endif %}
    </div>
</body>
</html>