<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EY Visual Suite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>

<body>
    <div class="navbar">
        <img src="{{ url_for('static', filename='images/heading.png') }}" alt="Header Image" id="header-image">
        <div class="nav">
            <div class="dropdown">
                <span class="dropbtn-text">Actions</span>
                <div class="dropdown-content">
                    <a href="#">Show or Hide Coloumns</a>
                    <a href="#">Dataframe Functions</a>
                    <a href="#">Summarize Data</a>
                    <a href="#">Feature Analysis</a>
                </div>
            </div>
            <div class="dropdown">
                <span class="dropbtn-text">Visualize</span>
                <div class="dropdown-content">
                    <a href="/statistics/">Describe</a>
                    <a href="#">Duplicates</a>
                    <a href="/dash/">Missing Analysis</a>
                    <a href="/dash1/">Co-Relations</a>
                    <a href="#">Charts</a>
                </div>
            </div>

            <div class="dropdown">
                <span class="dropbtn-text">Pre-Processing</span>
                <div class="dropdown-content">
                    <!-- <a href="#">Charts</a>
                    <a href="#">Graphs</a> -->
                </div>
            </div>

            <div class="dropdown">
                <span class="dropbtn-text">Regression</span>
                <div class="dropdown-content">
                    <a href="#">Liner Regression</a>
                    <a href="#">Model Accuracy</a>
                </div>
            </div>

            <div class="dropdown">
                <span class="dropbtn-text">Report</span>
                <div class="dropdown-content">
                    <a href="#">Generate Report</a>
                    <a href="#">Export Data</a>
                </div>
            </div>

            <div class="dropdown">
                <span class="dropbtn-text">Settings</span>
                <div class="dropdown-content">
                    <a href="#">Preferences</a>
                    <a href="#">User Settings</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="left-section">
            <div class="upload-container" id="upload-container">
                <h2>Upload a File</h2>
                <form id="upload-form" method="POST" enctype="multipart/form-data">
                    <input type="file" name="file" id="file" accept=".csv" required>
                    <br>
                    <input type="submit" value="Upload">
                </form>
            </div>

            <div id="upload-controls">
                <button id="toggle-upload" style="display: none;">Toggle Upload</button>
                <span id="file-name"></span>
            </div>

            <div class="data-preview">
                <div class="data-preview-container">
                    {% if column_info %}
                    <h2>Data Summary - {{ uploaded_filename }}</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Column Name</th>
                                <th>Data Type</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for column, dtype in column_info.items() %}
                            <tr>
                                <td>{{ column }}</td>
                                <td>{{ dtype }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="right-section">
            <div class="data-visualization">
                <div class="data-visualization-container">
                    {% if full_table %}
                    <h2>Data Visualization - {{ uploaded_filename }}</h2>
                    {{ full_table|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- <script>
        document.getElementById('upload-form').addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent form submission
            
            // Hide the upload container
            document.getElementById('upload-container').style.display = 'none';
            
            // Show the toggle switch label and set its text to the uploaded file name
            var fileName = document.getElementById('file').files[0].name;
            var toggleLabel = document.getElementById('toggle-label');
            
            // Clear previous label content
            toggleLabel.textContent = '';
            
            // Set new label content with the uploaded file name
            toggleLabel.textContent = fileName;
            toggleLabel.style.display = 'inline'; // Display the label
        });
    </script>
     -->
</body>

</html>