<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EY Visual Suite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Visualize</button>
            <div class="dropdown-content">
                <a href="{{url_for('correlation')}}">Correlation Matrix</a>
                <a href="{{url_for('missingvalues')}}">Missing Value Ananlysis</a>
            </div>
        </div>

        <img src="{{ url_for('static', filename='images/heading.png') }}" alt="Header Image" id="header-image">
    </div>

    <div class="container">
        <div class="left-section">
            <div class="data-preview">
                <div class="data-preview-container">
                    {% if column_list %}
                        <h2>Data Preview</h2>
                        {{ column_list|safe }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="right-section">
            <div class="data-visualization">
                <div class="data-visualization-container">
                    {% if full_table %}
                        <h2>Data Visualization</h2>
                        {{ full_table|safe }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>